.navbar {
    max-width: 92%;
    margin: 0px auto;
    font-size: 12px;
    padding: 0px !important;
}

.navbar-nav {
    flex-direction: column;
    margin-left: 0px;
  
    & > * {
        margin: 0px;
    }
}

