.navbar {
    max-width: 90%;
    margin: 0px auto;
    font-size: 16px;
    padding: 0px !important;
}

.navbar a img {
    margin-bottom: 0px;
}

.navbar-nav {
    flex-direction: column;
  
    & > * {
      padding-left: 10px; 
    }
}

